/* Global styles */

html {
    scroll-behavior: smooth;
    }

body {
    background-color: black;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
    }

/* Heeader */

header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    color: white;
    padding: 10px;
    margin-left: 15px;
}

header a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Main 3 section styles */

#galaxyone {
    height: 100vh;
    position: relative;
    background-image: url("./images/galaxy1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#galaxytwo {
    height: 100vh;
    position: relative;
    background-image: url("./images/galaxy2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#galaxythree {
    height: 100vh;
    position: relative;
    background-image: url("./images/galaxy3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.description {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    bottom: 15%;
    color: white;
}

/* Button styles */

#watchnow {
    color: white;
    text-decoration: none;
    border: 3px solid white;
    padding: 15px;
    position: absolute;
    left: 5%;
    bottom: 9%;
    width: 15rem;
    font-size: 1.25rem;  
}

#watchnow:hover {
    backdrop-filter: blur(2px);
    text-decoration: underline;   
}

#watchnow:hover::before {
    transition: width 0.5s ease-in-out;
}

.readmore {
    color: white;
    text-decoration: none;
    border: 3px solid white;
    padding: 15px;
    position: absolute;
    left: 5%;
    bottom: 9%;
    width: 15rem;
    font-size: 1.25rem;
}

.readmore:hover {
    backdrop-filter: blur(2px);
    text-decoration: underline;    
}

/* Footer styles */

footer {
    color: grey; 
    padding: 40px;
    text-align: center;
}

/* Styles for hidden shipflight vdieo  */

#videowindow {
    position: absolute;
    width: 1060px;
    height: 815px;
    backdrop-filter: blur(2px);
    top: 15%;
    border: 3px solid grey;
    border-radius: 15px;
    z-index: 1;   
}

iframe {
    padding: 5%;
    position: absolute;
    border-radius: 10px;      
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;  
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: all;
}

